.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #222;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  border-radius: 16px;
  background-color: #ffffff;
}
.attackusage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #222;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  border-radius: 16px;
  background-color: #ffffff;
}
